@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Rock+Salt&display=swap');
.pag-12{
    background-image: url(./1710497-2048x1365-desktop-hd-honda-crf450r-background.jpg);
    width: 100%;
}
.pag-3{
    background-image: url(./pexels-simon73-1183099.jpg);
    width: 100%;
}
.cabecalho {
    width: 100%;
}
.topicos {
    color: #3c05e1;
    font-size: 24px;
}
.titulo {
    color: #0768f1;
    font-size: 48px;
    font-family:Big Shoulders Stencil;
    text-align: center;
}

.subtitulo {
    font-family:Big Shoulders Stencil;
    font-size: 28px;
    color: #0d1071;
    text-align: center;
}
.texto-inicial { 
    font-size: 30px;
    color: #050040;
}
.texto-fonte {
    font-size: 21px;
    color: #000072;
}
.foto{
    width: 33%;
    border-radius: 10px;
    height: 400px;
}
.topicos {
    text-decoration: none ;
    list-style-type: none;
    display: flex;
}
.fotos{
    width: 550px;
    border-radius: 12px;
    height: 400px;
    display: inline-block;
}
.texto{
   font-size: 26px;
   color: whitesmoke;
   }
   .ul{
    text-decoration: none;
    list-style-type: none;
    display: flex;
   }
   .itens{
    display: flex;
    align-items: center;
   }
   .botao-link{
    text-decoration: none;
    display: flex;
    color: #0d1071;
    font-size: 24px;
    padding-left: 2em;
    padding-right: 2em;
   }