@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Rock+Salt&display=swap');
.pag-12{
    background-image: url(/116171-honda-crf250r-ym22-3001-jpg.jpeg);
    width: 100%;
}
.pag-3{
    background-image: url(./pexels-simon73-1183099.jpg);
    width: 100%;
}
.cabecalho {
    width: 100%;
}
.topicos {
    color: #1c5cff;
    font-size: 24px;
    text-decoration: none ;
    list-style-type: none;
    display: flex;
}
.titulo {
    color: #0aacf8;
    font-size: 48px;
    font-family:Big Shoulders Stencil;
    text-align: center;
    height: 700;
}

.subtitulo {
    font-family:Big Shoulders Stencil;
    font-size: 32px;
    color: #0048ff;
    text-align: center;
}
.texto-inicial { 
    font-size: 30px;
    color: #1f3dff;
    height: 700;
}
.texto-fonte {
    font-size: 21px;
    color: #05059d;
}
.foto{
    width: 33%;
    border-radius: 10px;
    height: 400px;
}
.fotos{
    width: 550px;
    border-radius: 12px;
    height: 400px;
    display: inline-block;
}
.texto{
   font-size: 26px;
   color: whitesmoke;
   }
   .ul{
    text-decoration: none;
    list-style-type: none;
    display: flex;
   }
   .itens{
    display: flex;
    align-items: center;
   }
   .botao-link{
    text-decoration: none;
    display: flex;
    color: #0080ff;
    font-size: 24px;
    padding-left: 2em;
    padding-right: 2em;
   }